@use '@/styles/mixins';

.traffic-weather {
  &-search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 8px;

    @include mixins.bp(sm) {
      max-width: 114rem;
    }
  }
}
